.header__nav, .lang__menu {
  position: absolute;
  background-color: var(--color-bg-alt);
  width: 100vw;
  height: calc(100vh - 4rem);
  height: calc(100vh - 4rem);
  height: calc(100dvh - 4rem);
  top: -100vh;
  top: -100lvh;
  top: -100dvh;
  z-index: -500;
}

.header__nav-item {
  padding: 5% 5% 0 0;
}