.js-only-content {
  position: absolute;
  color: var(--color-text-novel);
  width: min(80vw, 452px, 40ch);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.noscript-fallback-content {
  overflow: hidden auto;
  display: block;
  max-height: 100vh;
  max-width: 452px;
  width: 80vw;
  margin: 0 auto;
}

.noscript-fallback-content p {
  color: var(--color-text-novel);
  margin: 1.25rem 0.5rem;
  font-size: 0.9rem;
}

.chapter-title {
  display: block;
  text-align: right;
  color: var(--color-text-secondary);
  border-bottom: var(--color-text-secondary) 1px solid;
  font-size: 0.75rem;
}